.bigCarousel{
  height:500px;
  align-content: center;

}
.red, .green, .blue{
  height:450px;
  width:100%;
}

.red{
  background-color:white; 
 }
 .blue{
  background-color:white; 
 }
 .green{
  background-color:white; 
}