/* .carousel-holder {
  height: 100%;
  width: 70vw;
  margin-left: 22vw;
}

.bigCarousel{
  height:500px;
  align-content: center;

}
.pic1, .pic2, .pic3, .pic4, .pic5{
  height:500px;
  width:100%;
} */

/* .red{
  background-color:white; 
 }
 .blue{
  background-color:white; 
 }
 .green{
  background-color:white; 
} */